@import '../../../variables.scss';

.post-form__sidebar {
    display: flex;
    flex-direction: column;

    .sidebar__decoration {
        max-width: 21px;
    }

    .sidebar__btn {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        text-align: start;
        text-decoration: none;
        border: none;
        color: inherit;
        background-color: transparent;
        color: var(--text-secondary);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: var(--text-primary);
        }

        &_active {
            color: var(--text-primary);
            padding-top: 0.5rem;
            text-align: start;
            border: none;
            font-size: 1.5rem;
            color: inherit;
            background-color: transparent;
        }
    }
}
