@import '@/variables.scss';

.games-list { 
    margin-bottom: 100px;
    transition: all 0.3s ease;
}


.games-list__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.games-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.games-list__show-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: $white-200;
}