@import '@/variables.scss';

.genres-list { 
    margin-bottom: 100px;
    transition: all 0.3s ease;
}
 
.genres-list__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease;
}


.genres-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.genres-list__title {

}

.genres-list__show-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: $white-200;
}