@import '@/variables.scss';

.about-user-container {
  position: relative;
  width: 1360px;
  height: 335px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 40px;
  background: var(--background-detailed);
  
  .about-user-container__edit {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 370px;
    height: 62px;
    border-radius: 25px;
    background: var(--background-extra);
    border: 1px solid var(--background-secondary); 
    cursor: pointer;
    
    .edit__text {
      text-align: center;
      line-height: 60px;
      font-size: 24px;
      font-weight: 400;
      color: var(--text-detailed);
    }
  }
  
  .info-block {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    
    .about-user-container__avatar {
      margin-left: 60px;
      width: 260px;
      height: 260px;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: var(--shadow-x1);
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .about-user-container__details {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      .about-user-container__name {
        font-size: 37px;
        font-weight: 500;
        color: var(--text-primary);
      }
      
      .about-user-container__status {
        
        font-size: 30px;
        font-weight: 400;
        color: var(--accent-color);
      }
      
      .about-user-container__description {
        margin-top: 12px;
        width: 760px;
        font-size: 30px;
        font-weight: 300;
        color: var(--text-detailed);
      }
      
      .about-user-container__activity-bar {
        position: absolute;
        width: 940px;
        height: 68px;
        margin-top: 185px;
        margin-left: -16px;
        padding: 0 25px;
        border-radius: 25px;
        background: var(--background-extra);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .activity-title,
        .activity-time {
          font-size: 24px;
          color: var(--text-detailed);
        }
      }
    }
  }
}