@import '@/variables.scss';
.about-user-container {
    display: flex;
    justify-content: space-around;
    gap: 10vw;  
    padding: 40px;
    border-radius: 40px;
    background: var(--background-secondary);
}

.about-user-container__edit {
    cursor: pointer;
    height: min-content;
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
}

.about-user-container__photo {
    margin-bottom: 30px;      
      img {
        border-radius: 50%;
        height: auto;
        max-height: 100px;
        width: 100px;
        object-fit: cover;
        box-shadow: $shadow-x1;
      }
}

.about-user-container__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-user-container__text {
    width: 26vw;
    font-size: 38px;
}   