.for-developers {
    max-width: 1011px;
    padding-inline: 50px;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    &__title {
        text-align: center;
        font-size: 100px;
        font-style: normal;
        font-weight: 500;
        background: linear-gradient(
            45deg,
            #ad7eff,
            #c29fff,
            #ff5731,
            #ff9af1,
            #ad7eff
        );
        animation: gradient 15s ease infinite;
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__text {
        font-size: 38px;
        text-align: center;
        margin-top: 40px;
    }
    &__button {
        margin-left: auto;
        margin-top: 45px;
        background-color: #ff5731;
        display: flex;
        align-items: center;
        border: none;
        font-size: inherit;
        font-family: inherit;
        color: white;
        border-radius: 100px;
        width: fit-content;
        height: 50px;
        font-weight: 900;
        padding-right: 20px;
        text-decoration: none;
        img {
            height: 40px;
            width: 40px;
            margin-right: 10px;
            margin-left: 5px;
        }
    }
}
